
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  margin: 0 auto;
}

body{
  font: normal 15pt Arial;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.body.night {
  background-color: rgb(0, 20, 87);
  background: linear-gradient(90deg, rgba(0,0,0,.7),rgba(0,0,0,.7)), url(./img/night.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.body.afternoon {
  background-color: rgb(248, 170, 0);
  background: linear-gradient(90deg, rgba(0,0,0,.7), rgba(0,0,0,.7)), url(./img/afternoon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.body.day{
  background-color: rgb(233, 218, 0);
  background: linear-gradient(90deg, rgba(0,0,0,.7), rgba(0,0,0,.7)), url(./img/day.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}

.header h1 {
  color: white;
}

.main {
  display: flex;
  max-width: 960px;
  width: 50%;
  height: 400px;
  align-items: center;
}

#msg {
  color: #fff;
  font-size: 10rem;
}

footer p a{
  color: #fff;
  text-decoration: none;
}

footer p {
  color: #e1e1e6;
}

@media(max-width: 960px) {
  * {
    margin: 0 auto;
  }
 #msg {
   font-size: 8rem;
 }
}

@media(max-width: 600px) {
  * {
    margin: 0 auto;
  }
 #msg {
   font-size: 5rem;
 }

 .main {
   width: 70%;
 }
}


@media(max-width: 375px) {
  * {
    margin: 0 auto;
  }
 #msg {
   font-size: 5rem;
 }

 .main {
   width: 80%;
 }
}